

@font-face {
    font-family: 'renogareregular';
    src: url('renogare-regular-webfont.woff2') format('woff2'),
         url('renogare-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: renogareregular, sans-serif;
	color: #7289DA;
	background-color: #2C2F33;
	word-wrap: break-word;
}

.phosphor {
	font-size: 10vw;
	text-align: center;
}

.pink {
	color: #eb81b4;
}

.wip {
	font-size: 2vw;
	text-align: center;
}
