

@font-face {
    font-family: 'renogareregular';
    src: url('renogare-regular-webfont.woff2') format('woff2'),
         url('renogare-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerminusTTF';
    src: url('TerminusTTF-Bold.woff2') format('woff2'),
         url('TerminusTTF-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: renogareregular, sans-serif;
	color: #7289DA;
	background-color: #23272a;
	word-wrap: break-word;
}

.phosphor {
	font-size: 7vw;
	text-align: center;
}

.pink {
	color: #eb81b4;
}

.wip {
	font-size: 2vw;
	text-align: center;
}

.jerma {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50vw;
}

p {
	font-family: TerminusTTF, sans-serif;
	text-align: center;
	line-height: 0.5;
}

.linklist {
	font-size: 35px;
	font-family: TerminusTTF, sans-serif;
	text-align: center;
	/* line-height: 0.5; */
}

a:link {
	color: #7289DA;
  }
  
  a:visited {
	color: #7289DA;
  }
  
  a:hover {
	color: #EB81B4;
  }
  
  a:active {
	color: #EB81B4;
  }